
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

h3{
    font-family: 'Lato', sans-serif;
    font: size 22px;
    text-align: center;
}

p{
    font-family: 'Lato', sans-serif;
    font: size 18px;
    text-align: center;
}

.header__fondo{
    background-image: linear-gradient(45deg, pink, lightgreen, skyblue);
}

.fondo-main{
    background-image: url(../imagenes/fondo\ inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#tarjetaPresentacionProfesoras div{
    border: 3px double rgb(247, 138, 156);
    border-radius: 10px;
    padding: 20px 30px;
    width: 150px;
    background-color: #ffddd2;
}

#tarjetaPresentacionProfesoras img{
    width: 100%;
    border-radius: 10px;   
}

.tarjeta-tipo-de-clases div{
    border: 3px outset lightblue;
    border-radius: 10px;
    padding: 20px 30px;
    width: 150px;
    background-color: #edf9f9;
}

.tarjeta-tipo-de-clases img{
    width: 100%;
    border-radius: 10px;   
}

.fondo-imagen-contacto{
    background-image: linear-gradient(45deg, pink, skyblue);
}
.footer__fondo{
    background-color:  violet;
}

/* Pagina de Inicio */
.content-all{
    width: 210px;
    margin: auto;
    perspective:1000px ;
    position: relative;
    padding-bottom: 250px;
    padding-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite;
    transform-style: preserve-3d;
}
.content-carrousel figure{
    width:100% ;
    height: 200px;
    overflow: hidden;
    position: absolute;
    margin-bottom: 250px;
}
.content-carrousel figure:nth-child(1){ transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){ transform: rotateY(45deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){ transform: rotateY(90deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){ transform: rotateY(135deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){ transform: rotateY(180deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){ transform: rotateY(225deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){ transform: rotateY(270deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){ transform: rotateY(315deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){ transform: rotateY(360deg) translateZ(300px);}
.content-carrousel img{
    width: 100%;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}